{% extends "base.html" %}
{% block start %}
<style>
    
</style>

  <div class="about-containet">
    <div class="image-container">
      <div class="main-aboutus-container">
      <h1 class="about-us-text">About Us</h1>
      <p class="quote">"We deliver happiness in every bite! 🌟🍲 Fresh food, delightful experience!"</p>
      </div>
    </div>
    <div class="story-container">
      <div class="first-container">
        <div class="ourStory-container">
          <h1>our Story</h1>
        </div>
        <div class="storyPara-container">
          <p>Established in 2004, Kitchen King has become Pune's premier dining destination, offering a delightful blend of
          vegetarian and non-vegetarian dishes. Our restaurant boasts an elegant ambiance, providing a rich dining experience at
          affordable prices. With a commitment to quality and innovation, Kitchen King has garnered a reputation for excellence,
          captivating the palates of locals and visitors alike. Join us for a culinary journey that promises to tantalize your
          taste buds and leave you craving more. <br>
          But Kitchen King is more than just a restaurant; it's an experience. Step inside and be enveloped by an ambiance that
          exudes elegance and sophistication. The rich tapestry of colors, the warm glow of the lights, and the impeccable service
          create an atmosphere that is both inviting and indulgent. <br>
          
          Despite its lavish ambiance, Kitchen King remains committed to affordability. Prasad believes that everyone should have
          access to exceptional food without breaking the bank. Thus, Kitchen King offers a menu that is not only sumptuous but
          also pocket-friendly, making it a favorite among students, families, and professionals alike.
          <br>
          As the years pass, Kitchen King continues to be a culinary cornerstone in Pune, a testament to Prasad's unwavering
          dedication and entrepreneurial spirit. With each dish served, Kitchen King reaffirms its commitment to excellence,
          ensuring that every visit is an unforgettable experience for its patrons.
          <br>
          Renowned as the best hotel in Pune, Kitchen King prides itself on delivering a diverse array of culinary delights,
          catering to both vegetarians and non-vegetarians alike. From traditional Indian delicacies to international flavors,
          every dish is crafted with passion and precision, ensuring a culinary journey like no other.
      </p>
        </div>
      </div>
    </div>
    <div class="ourSpeciality-container">
      <div class="speciality-width">
        <div class="speciality-text-container">
          <h1>Our Specialties</h1>
          <p>Savor the flavor of tradition with our specialties:
            <ul>
              <li>Butter Chicken.</li>
              <li>Tandoori Chicken.</li>
              <li>Mutton Kari.</li>
              <li>Butter Paneer.</li>
            </ul>
          </p>
          <a type="button" class="btn btn-outline-light" href="/menue">View Menue</a>
        </div>
        <div class="image-containers">
          <div class="images">
            <div class="image">
              <img src="../static/images/butterchicken.jpeg" alt="Butter Chicken">
              <li class="makeDistance">Butter Chicken.</li>
              <p>Rs 399</p>
            </div>
            <div class="image">
              <img src="../static/images/tandoori chicken.jpg" alt="Tandoori Chicken">
              <li class="makeDistance">Tandoori Chicken.</li>
              <p>Rs 299</p>
            </div>
            <div class="image">
              <img src="../static/images/muttonCurry.jpeg" alt="muttonCurry">
              <li class="makeDistance">Mutton Kari.</li>
              <p>Rs 499</p>
            </div>
            <div class="image">
              <img src="../static/images/buttorPanir.jpg" alt="buttorPanir">
              <li class="makeDistance">Butter Paneer.</li>
              <p>Rs 199</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}